# CAPSTONE TWO: NEGATIVE INCOME TAX EXPERIMENTS

## IMPORTS

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
pd.options.display.width=None
pd.options.display.max_colwidth=10000
pd.options.display.max_columns = 10000
pd.options.display.max_rows = 100

In [2]:
gary_df = pd.read_csv('../data/raw/raw_gary_df.csv', dtype=str)
gary_df.drop('Unnamed: 0', axis=1, inplace=True)
gary_df.dropna(inplace=True)

### WIDE DATA -> LONG DATA

In [3]:
def chunkstring(string, length):
    return [string[0+i:length+i] for i in range(0, len(string), length)]
def stub_maker(df, list_of_lengths):
    col_dict = {}
    stub_dict = {}
    for length in list_of_lengths:
        col_dict[length] = [col for col in df.columns if length in col]
    for length in col_dict:
        stub_cols = []
        for column in col_dict[length]:
            numeric_length = int(length[1:])
            if numeric_length == 73:
                numeric_length = 5
            stub = column.split('-')[0][:-1]
            stub_cols.append(stub)
            leng = int(df[column].str.len().unique() / numeric_length)
            df[column] = df[column].apply(chunkstring, args=[leng] )
        stub_dict[length] = stub_cols
    return stub_dict, col_dict
lengths = ['-48', '-42', '-9', '-16', '-73']

In [4]:
stubs, cols = stub_maker(gary_df, lengths)

In [5]:
tiles = list(np.arange(1, 49))*5326
test_df = gary_df.copy()
#test_df.assign(period48 = test_tile)
test_dict = {}
test_dict['-48'] = test_df.loc[:, [col for col in test_df if '48' in col]].apply(lambda x: x.explode())
test_dict['-48']['PERIOD'] = tiles
test_dict['-48']

,STATUS1-48,MOPRES1-48,MRST1-48,RELCODE1-48,SSI1-48,TTI1-48,SS1-48,VA1-48,MISINC1-48,OTHINC1-48,JOBSINC1-48,DAYINC1-48,OJINC1-48,UEMBEN1-48,STRKWC1-48,TYPWRK1-48,PCTEMP1-48,PCTWRK1-48,REASON1-48,PCNTLF1-48,PCTUMP1-48,EMPSTA1-48,DISABL1-48,NUMJBS1-48,EXPER1-48,INDUS1-48,OCCUP1-48,WKRLNG1-48,HOURS1-48,HRCHNG1-48,OTHRS1-48,WGRATE1-48,WGCHNG1-48,UNEMP1-48,OTRATE1-48,AFDC1-48,AFDCEL1-48,PERIOD
17,00,9,97,97,9997,9997,9997,9997,9997,9997,9994,0000,9994,0000,0000,00,9994,9994,94,9994,9994,94,94,93,993,993,9993,9993,9993,93,9993,9993,93,9997,93,9994,9994,1
17,00,9,97,97,9997,9997,9997,9997,9997,9997,9994,0000,9994,0000,0000,00,9994,9994,94,9994,9994,94,94,93,993,993,9993,9993,9993,93,9993,9993,93,9997,93,0000,0000,2
17,00,9,97,97,9997,9997,9997,9997,9997,9997,9994,0000,9994,0000,0000,00,9994,9994,94,9994,9994,94,94,93,993,993,9993,9993,9993,93,9993,9993,93,9997,93,0000,0000,3
17,00,9,97,97,9997,9997,9997,9997,9997,9997,9994,0000,9994,0000,0000,00,9994,9994,94,9994,9994,94,94,93,993,993,9993,9993,9993,93,9993,9993,93,9997,93,0100,0100,4
17,00,9,97,97,9997,9997,9997,9997,9997,9997,9994,0000,9994,0000,0000,00,9994,9994,94,9994,9994,94,94,93,993,993,9993,9993,9993,93,9993,9993,93,9997,93,0130,0130,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5342,00,9,94,94,0000,0000,0000,0096,0000,0000,0000,0000,0000,0000,0000,00,0000,0000,94,1000,0000,02,96,00,000,000,0000,0000,0000,00,0000,0000,00,0000,00,0091,0091,44
5342,00,9,94,94,0000,0000,0000,0096,0000,0000,0000,0000,0000,0000,0000,00,0000,0000,94,1000,0000,02,96,00,000,000,0000,0000,0000,00,0000,0000,00,9997,00,0091,0091,45
5342,00,9,94,94,0000,0000,0000,0096,0000,0000,0000,0000,0000,0000,0000,00,0000,0000,94,1000,0000,02,96,00,000,000,0000,0000,0000,00,0000,0000,00,9997,00,0091,0091,46
5342,00,9,94,94,0000,0000,0000,0096,0000,0000,0000,0000,0000,0000,0000,00,0000,0000,94,1000,0000,02,96,00,000,000,0000,0000,0000,00,0000,0000,00,9997,00,0091,0091,47
5342,00,9,94,94,0000,0000,0000,0096,0000,0000,0000,0000,0000,0000,0000,00,0000,0000,94,1000,0000,02,96,00,000,000,0000,0000,0000,00,0000,0000,00,9997,00,0091,0091,48

In [6]:
tiles = list(np.arange(0, 43))*5326
test_df = gary_df.copy()

test_dict['-42'] = test_df.loc[:, [col for col in test_df if '42' in col]].apply(lambda x: x.explode())
print(len(tiles), len(test_dict['-42']))
test_dict['-42']['PERIOD'] = tiles
test_dict['-42']

229018 229018

,GWAGES0-42,FTXWTH0-42,STXWTH0-42,FICA0-42,JOBS0-42,HRSWRK0-42,REGHRS0-42,OVRTME0-42,SPECL0-42,SPCLCD0-42,PERIOD
17,9997,9997,9997,9997,,97,9997,9997,9997,97,0
17,9997,9997,9997,9997,,97,9997,9997,9997,97,1
17,9997,9997,9997,9997,,97,9997,9997,9997,97,2
17,9997,9997,9997,9997,,97,9997,9997,9997,97,3
17,9997,9997,9997,9997,,97,9997,9997,9997,97,4
...,...,...,...,...,...,...,...,...,...,...,...
5342,0000,0000,0000,0000,,00,0000,0000,0000,00,38
5342,0000,0000,0000,0000,,00,0000,0000,0000,00,39
5342,0000,0000,0000,0000,,00,0000,0000,0000,00,40
5342,0000,0000,0000,0000,,00,0000,0000,0000,00,41
5342,9997,9997,9997,9997,,97,9997,9997,9997,97,42

In [7]:
tiles = list(np.arange(8, 49, 5))*5326
test_df = gary_df.copy()

test_dict['-9'] = test_df.loc[:, [col for col in test_df if '-9' in col]].apply(lambda x: x.explode())
print(len(tiles), len(test_dict['-9']))
test_dict['-9']['PERIOD'] = tiles
test_dict['-9']

47934 47934

,EMPSTAT1-9,TYPWRKR1-9,WYNOWRK1-9,HRSWEEK1-9,OTHRSWK1-9,HRSREG1-9,OTHREG1-9,DSABLED1-9,DISLMIT1-9,PERIOD
17,94,94,94,994,994,997,997,97,97,8
17,02,94,01,000,000,997,997,97,97,13
17,02,94,06,000,000,997,997,97,97,18
17,02,94,06,000,000,000,000,97,97,23
17,02,94,04,000,000,000,000,94,94,28
...,...,...,...,...,...,...,...,...,...,...
5342,93,93,93,993,993,993,993,93,93,28
5342,93,93,93,993,993,993,993,93,93,33
5342,93,93,93,993,993,993,993,93,93,38
5342,93,93,93,993,993,993,993,93,93,43
5342,93,93,93,993,993,993,993,93,93,48

In [8]:
tiles = list(np.arange(3, 49, 3))*5326
test_df = gary_df.copy()

test_dict['-16'] = test_df.loc[:, [col for col in test_df if '16' in col]].apply(lambda x: x.explode())
test_dict['-16']['PERIOD'] = tiles
test_dict['-16']

     WGSART1-16  PERIOD
17         0000       3
17         0000       6
17         0000       9
17         0000      12
17         0000      15
...         ...     ...
5342       0000      36
5342       0000      39
5342       0000      42
5342       0000      45
5342       9997      48

[85216 rows x 2 columns]

In [9]:
tiles = list(np.arange(1, 6))*5326
test_df = gary_df.copy()

test_dict['-73'] = test_df.loc[:, [col for col in test_df if '69-73' in col]].apply(lambda x: x.explode())
test_dict['-73']['PERIOD'] = tiles
test_dict['-73']

     SINWGS69-73 SJTWGS69-73  PERIOD
17        999993      999993       1
17        999993      999993       2
17        999993      999993       3
17        999993      999993       4
17        999993      999993       5
...          ...         ...     ...
5342      999993      999993       1
5342      999993      999993       2
5342      999993      999993       3
5342      999993      999993       4
5342      999993      999993       5

[26630 rows x 3 columns]

In [10]:
list_of_frames = [test_dict['-42'].reset_index().set_index(['index', 'PERIOD']), 
                  test_dict['-9'].reset_index().set_index(['index', 'PERIOD']),
                  test_dict['-16'].reset_index().set_index(['index', 'PERIOD']),
                  test_dict['-73'].reset_index().set_index(['index', 'PERIOD'])]
final_frame = test_dict['-48'].reset_index().set_index(['index', 'PERIOD']).join(list_of_frames, how='outer')
# final_frame = test_dict['-42'].reset_index().set_index(['index', 'PERIOD']).join(test_dict['-48'].reset_index().set_index(['index', 'PERIOD']), how='outer')
# final_frame.join(test_dict['-9'].reset_index().set_index(['index', 'PERIOD']), how='left')
# final_frame.join(test_dict['-16'].reset_index().set_index(['index', 'PERIOD']), how='left')                 
# final_frame.join(test_dict['-73'].reset_index().set_index(['index', 'PERIOD']), how='left')
final_frame.info
final_frame.to_csv("../data/raw/gary_exploded.csv")

In [50]:
final_frame.info

<bound method DataFrame.info of              STATUS1-48 MOPRES1-48 MRST1-48 RELCODE1-48 SSI1-48 TTI1-48  \
index PERIOD
17    0             NaN        NaN      NaN         NaN     NaN     NaN
      1              00          9       97          97    9997    9997
      2              00          9       97          97    9997    9997
      3              00          9       97          97    9997    9997
      4              00          9       97          97    9997    9997
...                 ...        ...      ...         ...     ...     ...
5342  44             00          9       94          94    0000    0000
      45             00          9       94          94    0000    0000
      46             00          9       94          94    0000    0000
      47             00          9       94          94    0000    0000
      48             00          9       94          94    0000    0000

             SS1-48 VA1-48 MISINC1-48 OTHINC1-48 JOBSINC1-48 DAYINC1-48  \
index PERIOD
17    0         NaN    NaN        NaN        NaN         NaN        NaN
      1        9997   9997       9997       9997        9994       0000
      2        9997   9997       9997       9997        9994       0000
      3        9997   9997       9997       9997        9994       0000
      4        9997   9997       9997       9997        9994       0000
...             ...    ...        ...        ...         ...        ...
5342  44       0000   0096       0000       0000        0000       0000
      45       0000   0096       0000       0000        0000       0000
      46       0000   0096       0000       0000        0000       0000
      47       0000   0096       0000       0000        0000       0000
      48       0000   0096       0000       0000        0000       0000

             OJINC1-48 UEMBEN1-48 STRKWC1-48 TYPWRK1-48 PCTEMP1-48 PCTWRK1-48  \
index PERIOD
17    0            NaN        NaN        NaN        NaN        NaN        NaN
      1           9994       0000       0000         00       9994       9994
      2           9994       0000       0000         00       9994       9994
      3           9994       0000       0000         00       9994       9994
      4           9994       0000       0000         00       9994       9994
...                ...        ...        ...        ...        ...        ...
5342  44          0000       0000       0000         00       0000       0000
      45          0000       0000       0000         00       0000       0000
      46          0000       0000       0000         00       0000       0000
      47          0000       0000       0000         00       0000       0000
      48          0000       0000       0000         00       0000       0000

             REASON1-48 PCNTLF1-48 PCTUMP1-48 EMPSTA1-48 DISABL1-48  \
index PERIOD
17    0             NaN        NaN        NaN        NaN        NaN
      1              94       9994       9994         94         94
      2              94       9994       9994         94         94
      3              94       9994       9994         94         94
      4              94       9994       9994         94         94
...                 ...        ...        ...        ...        ...
5342  44             94       1000       0000         02         96
      45             94       1000       0000         02         96
      46             94       1000       0000         02         96
      47             94       1000       0000         02         96
      48             94       1000       0000         02         96

             NUMJBS1-48 EXPER1-48 INDUS1-48 OCCUP1-48 WKRLNG1-48 HOURS1-48  \
index PERIOD
17    0             NaN       NaN       NaN       NaN        NaN       NaN
      1              93       993       993      9993       9993      9993
      2              93       993       993      9993       9993      9993
      3              93       993       993      9993       9993      9993
      4              93       993       993      9993       9993      9993
...                 ...       ...       ...       ...        ...       ...
5342  44             00       000       000      0000       0000      0000
      45             00       000       000      0000       0000      0000
      46             00       000       000      0000       0000      0000
      47             00       000       000      0000       0000      0000
      48             00       000       000      0000       0000      0000

             HRCHNG1-48 OTHRS1-48 WGRATE1-48 WGCHNG1-48 UNEMP1-48 OTRATE1-48  \
index PERIOD
17    0             NaN       NaN        NaN        NaN       NaN        NaN
      1              93      9993       9993         93      9997         93
      2              93      9993       9993         93      9997         93
      3              93      9993       9993         93      9997         93
      4              93      9993       9993         93      9997         93
...                 ...       ...        ...        ...       ...        ...
5342  44             00      0000       0000         00      0000         00
      45             00      0000       0000         00      9997         00
      46             00      0000       0000         00      9997         00
      47             00      0000       0000         00      9997         00
      48             00      0000       0000         00      9997         00

             AFDC1-48 AFDCEL1-48 GWAGES0-42 FTXWTH0-42 STXWTH0-42 FICA0-42  \
index PERIOD
17    0           NaN        NaN       9997       9997       9997     9997
      1          9994       9994       9997       9997       9997     9997
      2          0000       0000       9997       9997       9997     9997
      3          0000       0000       9997       9997       9997     9997
      4          0100       0100       9997       9997       9997     9997
...               ...        ...        ...        ...        ...      ...
5342  44         0091       0091        NaN        NaN        NaN      NaN
      45         0091       0091        NaN        NaN        NaN      NaN
      46         0091       0091        NaN        NaN        NaN      NaN
      47         0091       0091        NaN        NaN        NaN      NaN
      48         0091       0091        NaN        NaN        NaN      NaN

             JOBS0-42 HRSWRK0-42 REGHRS0-42 OVRTME0-42 SPECL0-42 SPCLCD0-42  \
index PERIOD
17    0                       97       9997       9997      9997         97
      1                       97       9997       9997      9997         97
      2                       97       9997       9997      9997         97
      3                       97       9997       9997      9997         97
      4                       97       9997       9997      9997         97
...               ...        ...        ...        ...       ...        ...
5342  44          NaN        NaN        NaN        NaN       NaN        NaN
      45          NaN        NaN        NaN        NaN       NaN        NaN
      46          NaN        NaN        NaN        NaN       NaN        NaN
      47          NaN        NaN        NaN        NaN       NaN        NaN
      48          NaN        NaN        NaN        NaN       NaN        NaN

             EMPSTAT1-9 TYPWRKR1-9 WYNOWRK1-9 HRSWEEK1-9 OTHRSWK1-9 HRSREG1-9  \
index PERIOD
17    0             NaN        NaN        NaN        NaN        NaN       NaN
      1             NaN        NaN        NaN        NaN        NaN       NaN
      2             NaN        NaN        NaN        NaN        NaN       NaN
      3             NaN        NaN        NaN        NaN        NaN       NaN
      4             NaN        NaN        NaN        NaN        NaN       NaN
...                 ...        ...        ...        ...        ...       ...
5342  44            NaN        NaN        NaN        NaN        NaN       NaN
      45            NaN        NaN        NaN        NaN        NaN       NaN
      46            NaN        NaN        NaN        NaN        NaN       NaN
      47            NaN        NaN        NaN        NaN        NaN       NaN
      48             93         93         93        993        993       993

             OTHREG1-9 DSABLED1-9 DISLMIT1-9 WGSART1-16 SINWGS69-73  \
index PERIOD
17    0            NaN        NaN        NaN        NaN         NaN
      1            NaN        NaN        NaN        NaN      999993
      2            NaN        NaN        NaN        NaN      999993
      3            NaN        NaN        NaN       0000      999993
      4            NaN        NaN        NaN        NaN      999993
...                ...        ...        ...        ...         ...
5342  44           NaN        NaN        NaN        NaN         NaN
      45           NaN        NaN        NaN       0000         NaN
      46           NaN        NaN        NaN        NaN         NaN
      47           NaN        NaN        NaN        NaN         NaN
      48           993         93         93       9997         NaN

             SJTWGS69-73
index PERIOD
17    0              NaN
      1           999993
      2           999993
      3           999993
      4           999993
...                  ...
5342  44             NaN
      45             NaN
      46             NaN
      47             NaN
      48             NaN

[260974 rows x 59 columns]>

In [12]:
# test =  np.arange(1,49,1)
# test_series = np.tile(test, (1,int(255648/48)))

#'''
#length = '-48'
#for length in lengths:
#numeric_length = -1 * int(length)
#gary_df['PER' + length] = [list(range(1,numeric_length ,1))] * len(gary_df)
#long_df = gary_df.loc[:, gary_df.columns.str.contains(length)]
#long_df.apply(pd.Series.explode)
#'''

In [13]:
# # tiles = list(np.arange(1, 49))*5326
# test_df = gary_df.copy()
# test_df.assign(period48 = test_tile)
# test_cols_list = [col for col in test_df.columns if '-42' in col or '-9' in col or '-73' in col]
# test_dict = {}
# test_dict['-48'] = test_df.loc[:, [col for col in test_df if '48' in col]].apply(lambda x: x.explode())
# test_dict['-48']['PERIOD-48'] = tiles
# test_dict['-48']

In [14]:
# cols = [col for col in gary_df.columns if '-42' in col]
# for col in cols:
#     lencols = gary_df[col].apply(len) - 43
#     print(lencols.sum())

In [15]:
# def exploder(df, list_of_lengths):
#     exploded_frames = {}
#     for length in list_of_lengths:
#         test_df = df.copy()
#         if length == '-73':
#             num_length = 5
#         elif length =='-42':
#             numeric_length = 43
#         else:
#             num_length = -1 * int(length)
#         values = list(np.arange(1, num_length+1)) * 5326
#         exploded_frames[length] = df.loc[:, [col for col in df if length in col]].apply(lambda x: x.explode())
#         print(values, exploded_frames[length])
#         exploded_frames[length]['PER' + length] = values
#     return exploded_frames
# gary_explode = exploder(gary_df, lengths)

In [16]:
# test_df = gary_df.copy()
# test =  np.arange(1,43,1)
# test_series = np.tile(test, (1,5326))
# test_dict = {}
# test_dict['-42'] = test_df.loc[:, [col for col in test_df.columns if '-42' in col]].apply(lambda x: x.explode())
# len(test_dict['-42'])
# len(test_series[0])

In [17]:
# list_cols = [col for col in test_df.columns if '-48' in col]
# test_dict['-48'] = test_df[list_cols].apply(pd.Series.explode)

# list_cols = [col for col in test_df.columns if '-42' in col]
# test_dict['-42'] = test_df[list_cols].apply(pd.Series.explode)

# list_cols = [col for col in test_df.columns if '-9' in col]
# test_dict['-9'] = test_df[list_cols].apply(pd.Series.explode)

# list_cols = [col for col in test_df.columns if '-16' in col]
# test_dict['-16'] = test_df[list_cols].apply(pd.Series.explode)

# list_cols = [col for col in test_df.columns if '-73' in col]
# test_dict['-73'] = test_df[list_cols].apply(pd.Series.explode)

In [18]:
# test_dict['-48']

In [19]:
# long_df

In [20]:

# for column in wide_cols:
#     if '-48' in column:
#         stubs48_split.append(column.split('-')[0])
#         leng = int(gary_df[column].str.len().unique() /48)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#         for i in range(48):
#             gary_df[column[:-4] + str(i+1)] = gary_df[column].apply(lambda x: x[i])
#     if '-42' in column:
#         stubs42_split.append(column.split('-')[0])
#         leng = int(gary_df[column].str.len().unique() /42)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#         for i in range(42):
#             gary_df[column[:-4] + str(i+1)] = gary_df[column].apply(lambda x: x[i])
#     if '-9' in column:
#         stubs9_split.append(column.split('-')[0])
#         leng = int(gary_df[column].str.len().unique() /9)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#         for i in range(9):
#             gary_df[column[:-3] + str(i+1)] = gary_df[column].apply(lambda x: x[i])  
#     if '-16' in column:
#         stubs16_split.append(column.split('-')[0])
#         leng = int(gary_df[column].str.len().unique() /16)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#         for i in range(16):      
#             gary_df[column[:-3] + str(i+1)] = gary_df[column].apply(lambda x: x[i])
#     if '-73' in column:
#         stubs5_split.append(column.split('-')[0])
#         leng = int(gary_df[column].str.len().unique() /5)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#         for i in range(5):
#             gary_df[column[:-3] + str(i+1)] = gary_df[column].apply(lambda x: x[i])

In [21]:
# gary_df.drop(wide_cols,axis=1, inplace=True)

### HANDLING NULLS

dropping families with no people and people with no families (this was due to a record-keeping error on the part of the experimenters. Families starting with number 4 are supposed to be in the Sacramento file, not Gary).

Converting some of the more-common missing data codes

In [22]:
# gary_df.replace(['9997', '9999','9993','9994', '97', '93'], np.NaN, inplace=True)

dropping the columns with > 75% of their entries being left blank

In [23]:
# def percent_miss(df):
#     # returns the percent of entries that are None in each column.
#    return df.isnull().sum()/df.isnull().count()
# bad_cols = gary_df.loc[:,(percent_miss(gary_df) > 0.75)].columns
# gary_df.drop(bad_cols, axis=1, inplace= True)

ATTDATE stands for attrition date, meaning what date the family left the experiment before it ended. These families left because they either moved away, stopped responding to experimenters, or the active filing member passed. They're being dropped here as we are interested in effects of welfare over time and these cutoff early.

In [24]:
# gary_df = gary_df.loc[gary_df['ATTDATE'] == '00000',:]
# gary_df.drop(['ATTDATE', 'FAMNUM'], axis=1, inplace=True)

## Encoding

Many of the comments within this section are ideas for further analysis, or methods of data cleaning attempted that either failed or were too large of a time sink to complete.

In [25]:
#gary_df = gary_df.loc[gary_df['TREATLEV'] != '0']
#gary_control_df = gary_df.loc[gary_df['TREATLEV'] == '0']

In [26]:
# gary_df.set_index('PERNUM', inplace=True)
# gary_simp_df = pd.get_dummies(gary_df['TREATLEV'], drop_first=True)
# #gary_df.drop(['TREATLEV'], axis=1, inplace=True)
# col_dict = {1:'TREATLEV_1', 2: 'TREATLEV_2', 3:'TREATLEV_3', 4:'TREATLEV_4'}
# gary_simp_df.rename(columns = col_dict, inplace=True)

In [27]:
# gary_simp_df = pd.concat([gary_simp_df, pd.get_dummies(gary_df['POVLEV'], drop_first=True)], axis=1)
# #gary_df.drop(['POVLEV'], axis=1, inplace=True)
# col_dict = {2:'POV_LEV_2', 3: 'POV_LEV_3', 4:'POV_LEV_4', 5:'POV_LEV_5'}
# gary_simp_df.rename(columns = col_dict, inplace=True)

This section of comments was my attempt to take the time-data and parse it out to hopefully generate new rows of data from them. Given more time, I would greatly expand this section, as it has the most potential and would give me the tools to make good features.

In [28]:
# '''def chunkstring(string, length):
#     return [string[0+i:length+i] for i in range(0, len(string), length)]
# for column in gary_df.columns:
#     if '-48' in column:
#         leng = int(gary_df[column].str.len().unique() /48)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#     if '-43' in column:
#         leng = int(gary_df[column].str.len().unique() /43)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#     if '-42' in column:
#         leng = int(gary_df[column].str.len().unique() /42)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#     if '-9' in column:
#         leng = int(gary_df[column].str.len().unique() /9)
#         gary_df[column] = gary_df[column].apply(chunkstring, args=[leng])
#  '''

In [29]:
# '''
# for column in gary_df.columns:
#     if '-48' in column:
#         leng = int(gary_df[column].str.len().unique() /48)
#         basename = column
#         for i in range(48):
#             gary_df[basename+'-Month'+str(i)] = gary_df[column][i:i+leng]
# gary_df.head()
# '''

Renaming the column for the sake of ease in coding.

In [30]:
# #gary_df.set_index('PERNUM', inplace=True)
# #periodic_columns =['SSI1-48', 'TTI1-48', 'SS1-48', 'VA1-48', 'MISINC1-48',
# #                   'OTHINC1-48', 'JOBINC1-48', 'DAYINC1-48', 'OJINC1-48',
# #                  'UEMBEN1-48', 'STRKWC1-48']
# gary_df.rename(columns= {'EMPSTAT1-9': 'EMPSTAT'}, inplace = True)
# gary_df.info

Ruling out persons for which employment status data was never collected.

In [31]:
# gary_simp_df['EMPSTAT'] = gary_df.loc[gary_df.EMPSTAT.str.contains('00|01|02', regex=True),'EMPSTAT']

In [32]:
# gary_simp_df.dropna(axis=0, inplace=True)

Unemployed + Actively seeking work, Employed -> in the labor force -> 1   
Unemployed + not actively seeking work -> not in labor force -> 0

In [33]:
# gary_simp_df.loc[(gary_simp_df.EMPSTAT.str.contains('(01)', regex=True)),'EMPSTAT']= '1'
# gary_simp_df.loc[(gary_simp_df.EMPSTAT.str.contains('(00)', regex=True)),'EMPSTAT']= '1'
# #gary_simp_df.loc[(gary_simp_df.EMPSTAT.str.contains('(00)(02)', regex=True)),'EMPSTAT']= 0

In [34]:
# gary_simp_df.loc[gary_simp_df['EMPSTAT'] != '1', 'EMPSTAT'] ='0'

In [35]:
# gary_simp_df

## MODELLING

In [36]:
# X= gary_simp_df.drop('EMPSTAT', axis=1)
# Y= gary_simp_df['EMPSTAT']
# X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state=2, stratify = Y)
# print(y_train, y_test, X_train, X_test)

## Dummy-test

In [37]:
# dummy = DummyClassifier(strategy = 'most_frequent')
# dummy.fit(X_train, y_train)
# dummy.score(X_test, y_test)

In [38]:
# dummy_report = classification_report(y_test, dummy.predict(X_test), target_names = ['Not in Labor', 'In Labor']
# print(dummy_report)

In [39]:
# lr = LogisticRegression()
# grid = GridSearchCV(estimator=lr,\
#                    param_grid = { \
#                                 'C' : np.arange(0.05, 1.0, .05),\
#                                 'penalty' : ['l2'],\
#                                 'max_iter' : np.arange(500, 5000, 500)},
#                    verbose = 2)
# grid.fit(X_train, y_train)

In [40]:
# print(classification_report(y_test, grid.predict(X_test), target_names=['Not in Labor', 'In Labor']))
# print(confusion_matrix(y_test, grid.predict(X_test)))

**IMPORTANT NOTE:** Logistic Regression does *no* better than guessing the most frequent.

## RANDOM FOREST

In [41]:
# rfc = ensemble.RandomForestClassifier()
# grid = GridSearchCV(estimator = rfc,
#                          param_grid={\
#                                     'max_depth' : [1, 2, 3],\
#                                     'criterion':['gini', 'entropy'],\
#                                     'min_samples_split' : np.arange(0.05,1.0, 0.05),\
#                                              },
#                    verbose=2)
# grid.fit(X_train, y_train)

In [42]:
# print(classification_report(y_test, grid.predict(X_test), target_names=['Not in Labor', 'In Labor']))

**IMPORTANT NOTE** Random Forest doest *no* better than guessing the most frequent

In [43]:
# clf = ensemble.GradientBoostingClassifier()
# rand = RandomizedSearchCV(estimator=clf,\
#                    param_distributions = { \
#                                 'n_estimators' : np.arange(500, 1000, 250),\
#                                 'max_depth' : np.arange(1,3),\
#                                 'learning_rate' : np.arange(0.1, .90, 0.1)})
# rand.fit(X_train, y_train)
# print(classification_report(y_test, rand.predict(X_test), target_names=['Not in Labor', 'In Labor']))

Gradient Boosting does tremendously better at predicting not in the labor force, and thus is the best model of the bunch.

# FURTHER CONSIDERATIONS

In addition to the comments throughout this notebook better analysis would come from:  
1. Parsing out the 1-48, 1-43, 1-42, 1-9 columns and making them into rows by adding a column for month. The index could then be Person, Month for the data frame. 
2. Using ffill to patch up a lot of the NA's that are either dropped or ignored in this notebook.
3. Running the models with all the features (but not using GridSearch/RandomizedSearch), then doing some basic feature reduction (PCA, etc.)
4. Reconsidering the structure of the categorical data TREATLEV, POVLEV.

In [44]:
#gary_df['NOTINFR'] = gary_df['EMPINT'].str.contains('02')
#gary_df['NOTINFR'] = gary_df['NOTINFR'].astype(int)
#gary_df['EMPGAIN'] = gary_df['EMPINT'].str.contains('(00)(01)', regex=True)

In [45]:
#gary_df['EMPLOSS'] = gary_df['EMPINT'].str.contains('(01)(00)', regex=True)

In [46]:
#gary_df['EMPGAIN'] = gary_df.EMPGAIN.astype(int)

In [47]:
#gary_df['EMPLOSS'] = gary_df.EMPLOSS.astype(int)

In [48]:
#columns_for_later = ['EMPLOSS', 'EMPGAIN']
#gary_df.drop(columns_for_later, axis=1, inplace=True)

In [49]:
#gary_df['EMP'] = gary_df['EMPINT'].str.contains('01')
#gary_df['EMP'] = gary_df.EMP.astype(int)